@import "../../assets/styles/colors";

.body-content {
  overflow: auto;
  height: calc(100vh - 126px);
  margin-top: 15px;
}
.nav-menu {
  list-style: none;
  @include largeScreen() {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.link-nav-item {
  cursor: initial;
}
.nav-item {
  color: white;
  padding: 40px 10px 10px 30px;
  width: 84%;
  border-radius: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  &:hover {
    border: 6px solid;
    border-image-slice: 1;
    border-width: 6px;
    border-image-source: $gradient-border-hover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 1;
    @include largeScreen() {
      border-radius: 0px;
    }
  }

  @include largeScreen() {
    border-radius: 0;
    font-family: "Anton", sans-serif;
    padding: 60px 5px 5px 5px;
    box-shadow: 10px 10px 0px $default-dark;
    border: 6px solid $default-dark;
    width: 95%;
  }
  p {
    font-family: "Anton", sans-serif;
    text-shadow: 2px 2px 1px $default-dark;
    margin: 0;
    position: relative;
    z-index: 2;
  }
}
.nav-item-2,
.nav-item-9,
.nav-item-11,
.nav-item-16,
.nav-item-20 {
  @include largeScreen() {
    padding: 150px 5px 5px 5px;
  }
}
.nav-item-1,
.nav-item-7,
.nav-item-10,
.nav-item-15,
.nav-item-21 {
  @include largeScreen() {
    padding: 200px 5px 5px 5px;
  }
}
.nav-item-8,
.nav-item-23 {
  @include largeScreen() {
    padding: 300px 5px 5px 5px;
  }
}
.nav-item-5,
.nav-item-6,
.nav-item-13,
.nav-item-18,
.nav-item-24 {
  @include largeScreen() {
    padding: 100px 5px 5px 5px;
  }
}
.link-nav-item:nth-child(4),
.link-nav-item:nth-child(10),
.link-nav-item:nth-child(14) {
  width: 5%;
}
.link-nav-item:nth-child(3),
.link-nav-item:nth-child(5),
.link-nav-item:nth-child(6),
.link-nav-item:nth-child(12),
.link-nav-item:nth-child(17),
.link-nav-item:nth-child(19) {
  width: 10%;
}
.link-nav-item:nth-child(1),
.link-nav-item:nth-child(11),
.link-nav-item:nth-child(13),
.link-nav-item:nth-child(15),
.link-nav-item:nth-child(18),
.link-nav-item:nth-child(23) {
  width: 20%;
}
.link-nav-item:nth-child(7),
.link-nav-item:nth-child(9),
.link-nav-item:nth-child(16),
.link-nav-item:nth-child(20),
.link-nav-item:nth-child(24) {
  width: 30%;
}
.link-nav-item:nth-child(2),
.link-nav-item:nth-child(21) {
  width: 40%;
}
.link-nav-item:nth-child(8),
.link-nav-item:nth-child(23) {
  width: 50%;
}

$list-menu: ($color-8-bit-mario, $bk-8-bit-mario),
  ($color-animal-crossing, $bk-animal-crossing), ($color-boxboy, $bk-boxboy),
  ($color-chibi-robo, $bk-chibi-robo), ($color-diablo, $bk-diablo),
  ($color-fire-emblem, $bk-fire-emblem), ($color-kirby, $bk-kirby),
  ($color-legend-zelda, $bk-legend-zelda),
  ($color-mario-sports-superstars, $bk-mario-sports-superstars),
  ($color-mega-man, $bk-mega-man), ($color-metroid, $bk-metroid),
  ($color-monster-hunter, $bk-monster-hunter),
  ($color-monster-hunter-rise, $bk-monster-hunter-rise),
  ($color-others, $bk-others), ($color-pikmin, $bk-pikmin),
  ($color-pokemon, $bk-pokemon), ($color-power-pros, $bk-power-pros),
  ($color-shovel-knight, $bk-shovel-knight), ($color-skylanders, $bk-skylanders),
  ($color-splatoon, $bk-splatoon),
  ($color-super-mario-bros, $bk-super-mario-bros),
  ($color-super-nintendo-world, $bk-super-nintendo-world),
  ($color-super-smash-bros, $bk-super-smash-bros),
  ($color-yoshis-wooll-world, $bk-yoshis-wooll-world),
  ($color-yu-gi-oh, $bk-yu-gi-oh);

@for $i from 1 through length($list-menu) {
  $color-value: nth(nth($list-menu, $i), 1);
  $bk-value: nth(nth($list-menu, $i), 2);
  .nav-item-#{$i} {
    background-image: $bk-value;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .nav-item-#{$i}::after {
    background: $color-value;
  }
}
