@import "../../assets/styles/colors";
.amiibo-block-type {
  margin: 30px 0px 30px 30px;

  .amiibo-name-type {
    background: $default-nintendo-color;
    color: $default-light;
    padding: 10px 0px 10px 10px;
    width: 80%;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 90% 100%);
    h2 {
      margin: 0;
      font-family: "Anton", sans-serif;
      font-size: 18px;
      letter-spacing: 1px;
    }
  }

  ul.amiibo-list {
    list-style: none;
    padding: 0px;
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 40px;
    display: grid;
    justify-content: center;
    @include largeScreen() {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}
