@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200;300;700&display=swap");
.slide-btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 5px;
  z-index: 999;
  width: 30px;
  height: 60px;
  background-color: #eed275;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0.8;
}
.slide-btn.on {
  background: #7037d8;
}
.slide-btn.on .inner-circle {
  transform: translateY(100%);
}
.slide-btn .icon-mode {
  position: absolute;
  top: 5px;
  left: 5px;
}

.inner-circle {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.header-wrapper {
  height: 50px;
}

.header {
  background: #000000;
  width: 100%;
  height: 40px;
  border-bottom: 5px solid #ff0000;
}
.header h1 {
  margin: 0;
  top: 8px;
  right: 20px;
  text-align: right;
  position: absolute;
  z-index: 1;
  font-family: "Oswald", sans-serif;
  color: #252525;
  max-width: 59%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  width: 80%;
  height: 60px;
  background: linear-gradient(133deg, rgb(162, 162, 162) 8%, rgb(240, 240, 240) 100%);
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 500%);
          clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 500%);
  box-shadow: 0px 5px 0px #ff0000;
}
.header button {
  background: #000000;
  border: none;
  padding-top: 8px;
}
.header button .home-icon {
  color: #fff;
  font-size: 25px;
}

.body-content {
  overflow: auto;
  height: calc(100vh - 126px);
  margin-top: 15px;
}

.nav-menu {
  list-style: none;
}
@media screen and (min-width: 900px) {
  .nav-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.link-nav-item {
  cursor: initial;
}

.nav-item {
  color: white;
  padding: 40px 10px 10px 30px;
  width: 84%;
  border-radius: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}
.nav-item:hover {
  border: 6px solid;
  border-image-slice: 1;
  border-width: 6px;
  border-image-source: linear-gradient(103deg, rgb(249, 255, 0) 0%, rgb(255, 0, 0) 25%, rgb(249, 255, 0) 75%, rgb(255, 0, 0) 100%);
  border-radius: 0px;
}
.nav-item:hover::after {
  border-radius: 0px;
}
.nav-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 1;
}
@media screen and (min-width: 900px) {
  .nav-item::after {
    border-radius: 0px;
  }
}
@media screen and (min-width: 900px) {
  .nav-item {
    border-radius: 0;
    font-family: "Anton", sans-serif;
    padding: 60px 5px 5px 5px;
    box-shadow: 10px 10px 0px #252525;
    border: 6px solid #252525;
    width: 95%;
  }
}
.nav-item p {
  font-family: "Anton", sans-serif;
  text-shadow: 2px 2px 1px #252525;
  margin: 0;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 900px) {
  .nav-item-2,
  .nav-item-9,
  .nav-item-11,
  .nav-item-16,
  .nav-item-20 {
    padding: 150px 5px 5px 5px;
  }
}

@media screen and (min-width: 900px) {
  .nav-item-1,
  .nav-item-7,
  .nav-item-10,
  .nav-item-15,
  .nav-item-21 {
    padding: 200px 5px 5px 5px;
  }
}

@media screen and (min-width: 900px) {
  .nav-item-8,
  .nav-item-23 {
    padding: 300px 5px 5px 5px;
  }
}

@media screen and (min-width: 900px) {
  .nav-item-5,
  .nav-item-6,
  .nav-item-13,
  .nav-item-18,
  .nav-item-24 {
    padding: 100px 5px 5px 5px;
  }
}

.link-nav-item:nth-child(4),
.link-nav-item:nth-child(10),
.link-nav-item:nth-child(14) {
  width: 5%;
}

.link-nav-item:nth-child(3),
.link-nav-item:nth-child(5),
.link-nav-item:nth-child(6),
.link-nav-item:nth-child(12),
.link-nav-item:nth-child(17),
.link-nav-item:nth-child(19) {
  width: 10%;
}

.link-nav-item:nth-child(1),
.link-nav-item:nth-child(11),
.link-nav-item:nth-child(13),
.link-nav-item:nth-child(15),
.link-nav-item:nth-child(18),
.link-nav-item:nth-child(23) {
  width: 20%;
}

.link-nav-item:nth-child(7),
.link-nav-item:nth-child(9),
.link-nav-item:nth-child(16),
.link-nav-item:nth-child(20),
.link-nav-item:nth-child(24) {
  width: 30%;
}

.link-nav-item:nth-child(2),
.link-nav-item:nth-child(21) {
  width: 40%;
}

.link-nav-item:nth-child(8),
.link-nav-item:nth-child(23) {
  width: 50%;
}

.nav-item-1 {
  background-image: url("/src/assets/img/backs/01.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-1::after {
  background: linear-gradient(9deg, rgb(255, 0, 0) 44%, rgb(100, 0, 0) 100%);
}

.nav-item-2 {
  background-image: url("/src/assets/img/backs/02.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-2::after {
  background: linear-gradient(9deg, rgb(65, 176, 97) 44%, rgb(16, 71, 25) 100%);
}

.nav-item-3 {
  background-image: url("/src/assets/img/backs/03.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-3::after {
  background: linear-gradient(9deg, rgb(75, 75, 75) 44%, rgb(0, 0, 0) 100%);
}

.nav-item-4 {
  background-image: url("/src/assets/img/backs/04.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-4::after {
  background: linear-gradient(9deg, rgb(123, 125, 124) 44%, rgb(0, 0, 0) 100%);
}

.nav-item-5 {
  background-image: url("/src/assets/img/backs/05.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-5::after {
  background: linear-gradient(16deg, rgb(130, 17, 17) 44%, rgb(0, 0, 0) 100%);
}

.nav-item-6 {
  background-image: url("/src/assets/img/backs/06.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-6::after {
  background: linear-gradient(16deg, rgb(100, 25, 116) 44%, rgb(0, 0, 0) 100%);
}

.nav-item-7 {
  background-image: url("/src/assets/img/backs/07.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-7::after {
  background: linear-gradient(16deg, rgb(255, 152, 218) 44%, rgb(255, 227, 254) 100%);
}

.nav-item-8 {
  background-image: url("/src/assets/img/backs/08.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-8::after {
  background: linear-gradient(16deg, rgb(0, 127, 198) 44%, rgb(9, 55, 94) 100%);
}

.nav-item-9 {
  background-image: url("/src/assets/img/backs/09.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-9::after {
  background: linear-gradient(16deg, rgb(255, 0, 0) 44%, rgb(255, 218, 0) 100%);
}

.nav-item-10 {
  background-image: url("/src/assets/img/backs/10.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-10::after {
  background: linear-gradient(158deg, rgb(0, 151, 255) 44%, rgb(1, 10, 181) 100%);
}

.nav-item-11 {
  background-image: url("/src/assets/img/backs/11.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-11::after {
  background: linear-gradient(90deg, rgb(0, 224, 255) 44%, rgb(0, 138, 111) 100%);
}

.nav-item-12 {
  background-image: url("/src/assets/img/backs/12.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-12::after {
  background: linear-gradient(90deg, rgb(138, 81, 12) 44%, rgb(23, 12, 0) 100%);
}

.nav-item-13 {
  background-image: url("/src/assets/img/backs/13.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-13::after {
  background: linear-gradient(90deg, rgb(133, 106, 74) 44%, rgb(84, 44, 0) 100%);
}

.nav-item-14 {
  background-image: url("/src/assets/img/backs/14.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-14::after {
  background: linear-gradient(90deg, rgb(125, 163, 129) 44%, rgb(42, 55, 34) 100%);
}

.nav-item-15 {
  background-image: url("/src/assets/img/backs/15.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-15::after {
  background: linear-gradient(90deg, rgb(91, 255, 0) 34%, rgb(249, 255, 0) 100%);
}

.nav-item-16 {
  background-image: url("/src/assets/img/backs/16.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-16::after {
  background: linear-gradient(43deg, rgb(255, 252, 0) 37%, rgb(255, 214, 0) 100%);
}

.nav-item-17 {
  background-image: url("/src/assets/img/backs/17.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-17::after {
  background: linear-gradient(98deg, rgb(22, 49, 166) 37%, rgb(0, 0, 0) 100%);
}

.nav-item-18 {
  background-image: url("/src/assets/img/backs/18.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-18::after {
  background: linear-gradient(98deg, rgb(60, 204, 254) 37%, rgb(48, 47, 152) 100%);
}

.nav-item-19 {
  background-image: url("/src/assets/img/backs/19.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-19::after {
  background: linear-gradient(98deg, rgb(190, 60, 254) 37%, rgb(48, 47, 152) 100%);
}

.nav-item-20 {
  background-image: url("/src/assets/img/backs/20.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-20::after {
  background: linear-gradient(22deg, rgb(252, 60, 254) 30%, rgb(0, 255, 196) 100%);
}

.nav-item-21 {
  background-image: url("/src/assets/img/backs/21.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-21::after {
  background: linear-gradient(22deg, rgb(255, 69, 69) 30%, rgb(57, 0, 0) 100%);
}

.nav-item-22 {
  background-image: url("/src/assets/img/backs/22.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-22::after {
  background: linear-gradient(22deg, rgb(255, 0, 0) 8%, rgb(110, 19, 79) 100%);
}

.nav-item-23 {
  background-image: url("/src/assets/img/backs/23.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-23::after {
  background: linear-gradient(22deg, rgb(237, 199, 55) 8%, rgb(182, 131, 0) 100%);
}

.nav-item-24 {
  background-image: url("/src/assets/img/backs/24.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-24::after {
  background: linear-gradient(22deg, rgb(88, 223, 28) 8%, rgb(2, 88, 76) 100%);
}

.nav-item-25 {
  background-image: url("/src/assets/img/backs/25.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-item-25::after {
  background: linear-gradient(22deg, rgb(223, 28, 91) 8%, rgb(88, 2, 40) 100%);
}

.background-loading {
  position: absolute;
  top: 0;
  left: 0;
  background: #ff0000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-loading .loading-container {
  background: #ff0000;
  width: 100%;
  text-align: center;
}
.background-loading .loading-container img {
  height: 60px;
}
.background-loading .loading-container .screen-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-loading .loading-container .screen-text .loading-text {
  display: flex;
  font-family: "Anton", sans-serif;
  font-weight: bold;
  font-size: 50px;
}
.background-loading .loading-container .screen-text .loading-text p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  letter-spacing: 3px;
}
.background-loading .loading-container .screen-text .loading-text p:nth-child(2),
.background-loading .loading-container .screen-text .loading-text p:nth-child(3),
.background-loading .loading-container .screen-text .loading-text p:nth-child(4) {
  opacity: 0;
  animation: fadeInOut 1s infinite steps(3);
}

.dark-mode .loading-container::before,
.dark-mode .loading-container::after {
  background: #252525;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.amiibo-block-type {
  margin: 30px 0px 30px 30px;
}
.amiibo-block-type .amiibo-name-type {
  background: #ff0000;
  color: #fff;
  padding: 10px 0px 10px 10px;
  width: 80%;
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 90% 100%);
          clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 90% 100%);
}
.amiibo-block-type .amiibo-name-type h2 {
  margin: 0;
  font-family: "Anton", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}
.amiibo-block-type ul.amiibo-list {
  list-style: none;
  padding: 0px;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-top: 40px;
  display: grid;
  justify-content: center;
}
@media screen and (min-width: 900px) {
  .amiibo-block-type ul.amiibo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.amiibo-card {
  background-color: transparent;
  height: 250px;
  width: 200px;
  perspective: 1000px;
  margin: 20px;
}
.amiibo-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.9);
}
.amiibo-card .flip-card-front,
.amiibo-card .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  border: 2px solid black;
  margin-bottom: 10px;
}
.amiibo-card .flip-card-front {
  background-color: #faf07e;
  background-image: linear-gradient(30deg, #d8c072 12%, transparent 12.5%, transparent 87%, #d8c072 87.5%, #d8c072), linear-gradient(150deg, #d8c072 12%, transparent 12.5%, transparent 87%, #d8c072 87.5%, #d8c072), linear-gradient(30deg, #d8c072 12%, transparent 12.5%, transparent 87%, #d8c072 87.5%, #d8c072), linear-gradient(150deg, #d8c072 12%, transparent 12.5%, transparent 87%, #d8c072 87.5%, #d8c072), linear-gradient(60deg, rgba(216, 192, 114, 0.4666666667) 25%, transparent 25.5%, transparent 75%, rgba(216, 192, 114, 0.4666666667) 75%, rgba(216, 192, 114, 0.4666666667)), linear-gradient(60deg, rgba(216, 192, 114, 0.4666666667) 25%, transparent 25.5%, transparent 75%, rgba(216, 192, 114, 0.4666666667) 75%, rgba(216, 192, 114, 0.4666666667));
  background-size: 8px 14px;
  background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
}
.amiibo-card .flip-card-front .amiibo-card-image {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.amiibo-card .flip-card-front .amiibo-card-image img {
  max-height: 211.16px;
  max-width: 100%;
}
.amiibo-card .flip-card-front .amiibo-card-name {
  position: absolute;
  width: 100%;
  bottom: 5px;
  text-align: center;
}
.amiibo-card .flip-card-front .amiibo-card-name p {
  font-family: "Oswald", sans-serif;
  margin: 0px;
  color: #252525;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(90deg, rgba(255, 0, 0, 0) 0%, rgb(255, 0, 0) 25%, rgb(255, 0, 0) 50%, rgb(255, 0, 0) 75%, rgba(255, 0, 0, 0) 100%);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.amiibo-card .flip-card-back {
  background-image: linear-gradient(30deg, #b7c0cc 12%, transparent 12.5%, transparent 87%, #b7c0cc 87.5%, #b7c0cc), linear-gradient(150deg, #b7c0cc 12%, transparent 12.5%, transparent 87%, #b7c0cc 87.5%, #b7c0cc), linear-gradient(30deg, #b7c0cc 12%, transparent 12.5%, transparent 87%, #b7c0cc 87.5%, #b7c0cc), linear-gradient(150deg, #b7c0cc 12%, transparent 12.5%, transparent 87%, #b7c0cc 87.5%, #b7c0cc), linear-gradient(60deg, rgba(183, 192, 204, 0.4666666667) 25%, transparent 25.5%, transparent 75%, rgba(183, 192, 204, 0.4666666667) 75%, rgba(183, 192, 204, 0.4666666667)), linear-gradient(60deg, rgba(183, 192, 204, 0.4666666667) 25%, transparent 25.5%, transparent 75%, rgba(183, 192, 204, 0.4666666667) 75%, rgba(183, 192, 204, 0.4666666667));
  background-color: #e6e6e9;
  opacity: 0.8;
  background-image: linear-gradient(30deg, #b7c0cc 12%, transparent 12.5%, transparent 87%, #b7c0cc 87.5%, #b7c0cc), linear-gradient(150deg, #b7c0cc 12%, transparent 12.5%, transparent 87%, #b7c0cc 87.5%, #b7c0cc), linear-gradient(30deg, #b7c0cc 12%, transparent 12.5%, transparent 87%, #b7c0cc 87.5%, #b7c0cc), linear-gradient(150deg, #b7c0cc 12%, transparent 12.5%, transparent 87%, #b7c0cc 87.5%, #b7c0cc), linear-gradient(60deg, rgba(183, 192, 204, 0.4666666667) 25%, transparent 25.5%, transparent 75%, rgba(183, 192, 204, 0.4666666667) 75%, rgba(183, 192, 204, 0.4666666667)), linear-gradient(60deg, rgba(183, 192, 204, 0.4666666667) 25%, transparent 25.5%, transparent 75%, rgba(183, 192, 204, 0.4666666667) 75%, rgba(183, 192, 204, 0.4666666667));
  background-size: 8px 14px;
  background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
  color: black;
  transform: rotateY(180deg);
}
.amiibo-card .flip-card-back h3 {
  font-family: "Oswald", sans-serif;
  background: linear-gradient(103deg, rgb(255, 0, 0) 0%, rgb(252, 160, 0) 10%, rgb(249, 255, 0) 18%, rgb(22, 255, 0) 31%, rgb(0, 255, 196) 47%, rgb(91, 97, 255) 60%, rgb(201, 0, 255) 81%, rgb(255, 0, 0) 100%);
  padding: 7px 0px;
}
.amiibo-card .flip-card-back p {
  font-family: "Oswald", sans-serif;
}
.amiibo-card .flip-card-back button {
  font-family: "Oswald", sans-serif;
  background-image: linear-gradient(to right, #f2994a 0%, #f2c94c 51%, #f2994a 100%);
  margin: 10px auto;
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
}
.amiibo-card .flip-card-back button a {
  color: white;
}
.amiibo-card .flip-card-back button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.amiibo-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.dark-mode .amiibo-card .flip-card-front,
.dark-mode .amiibo-card .flip-card-front .flip-card-back {
  border: 2px solid white;
}

.dark-mode .amiibo-card .flip-card-inner {
  box-shadow: 0 6px 10px 0 rgba(255, 255, 255, 0.9);
}

.dark-mode .flip-card-front,
.dark-mode .flip-card-back {
  border: 2px solid white;
}

.footer {
  background: #252525;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: "Oswald", sans-serif;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(90deg, rgba(255, 0, 0, 0) 0%, rgb(255, 0, 0) 25%, rgb(255, 0, 0) 50%, rgb(255, 0, 0) 75%, rgba(255, 0, 0, 0) 100%);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

body {
  margin: 0;
}

.App {
  background-color: #ffffff;
  opacity: 1;
  background: repeating-linear-gradient(-45deg, #ffe9fb, #ffe9fb 40px, #ffffff 40px, #ffffff 200px);
}

.App.dark-mode {
  background-color: #212157;
  background: repeating-linear-gradient(-45deg, #911d79, #911d79 40px, #212157 40px, #212157 200px);
}

.view-modes {
  opacity: 0.5;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=App.css.map */